@import "bootstrap.less";

// Some constants
@contentLeftPadding: 10px;

// General popup layout
body {
	margin: 0;
	padding: 0;
	#font > .sans-serif();
	
	#content {
		width: 480px;
		padding: 5px 0px 0px 0px;
		
		#feeds {
			overflow-y: scroll;
			width: 100%;
			max-height: 300px;
		}
		
		#feedContent {
			overflow-y: scroll;
			width: 100%;
			max-height:150px;
			.transition(height linear 0.2s);
		}
	}
}

// Section layout
section {
	
	.sectionHeader {
		background-color: #EEE;
		padding-left: @contentLeftPadding;
		.clearfix;
		
		// Category title
		h4 {
			float: left;
			cursor: pointer;
			min-width: 200px;
			
			small {
				color: darken(@grayLighter, 15%);
				margin-left: 3px;
			}
		}
		
		// Category utils
		.sectionUtils {
			float: right;
			margin-right: 7px;

			.feedControls {
				display: block;
				margin-top: 9px;
				
				img { cursor: pointer; }
			}
		}
	}
	
	ul.sectionContent {
		padding-left: @contentLeftPadding;
		margin-top: 5px;
		margin-bottom: 10px;
		
		li.feed {
			font-weight: normal;
			padding-top: 5px;
			padding-bottom: 4px;
			border-bottom: 1px solid #C6C6C6;
			
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
			
			&.read h5 { font-weight: normal; }
			&.unread h5 { font-weight: bold; }
			
			h5 {
				width: 95%;
				font-size: 13px;
				line-height: 20px;
				font-weight: normal;
				
				a { }
				
				small { }
			}
		}
	}
}