@import "bootstrap.less";
@import "gmail.buttons.css";

// Some constants
@contentLeftPadding: 10px;

// General popup layout
body {
	margin: 0;
	padding: 0;
	#font > .sans-serif();
	
	#content {
		width: 490px;
		padding: 5px 0px 0px 0px;
		overflow-y: scroll;
		
		#header {
			margin-bottom: 3px;
			height: 30px;
			width: 100%;
			.clearfix;
			
			#sortingOptions {
				float: left;
				height: 100%;
			}
			
			#socialButtons {
				float: right;
				height: 100%;
				.clearfix;
				
				a { 
					width: 30px; 
					float: left;
					padding: 0 3px 0 3px;
					margin-right: 8px;
					text-indent: -9999px;
				}
				a span {
					height: 28px;
					width: 28px;
					display: block;
				}
				#twitter { background: url(../images/twitter_icon.png) no-repeat 0 -1px; }
				#fb { background: url(../images/facebook_icon.png) no-repeat 0 -1px; }
			}
		}
		
		#feeds {
			width: 100%;
			max-height: 300px;
		}
		
		#feedContent {
			overflow-y: scroll;
			width: 100%;
			max-height:150px;
			.transition(height linear 0.2s);
		}
	}
}

// Section layout
section {
	
	.sectionHeader {
		background-color: #EEE;
		padding-left: @contentLeftPadding;
		border: solid 1px #EEE;
		cursor: default;
		.clearfix;
		.transition(all .318s);
		
		// Header interactions
		&.sorting {
			background-color: #E2E2E2;
			//cursor: pointer;
		}
		
		&.sorting:hover {
			border-color: #888;
		}
		
		// Category title
		h4 {
			float: left;
			cursor: pointer;
			
			small {
				color: darken(@grayLighter, 15%);
				margin-left: 3px;
			}
		}
		&.sorting h4 {
			cursor: default;
		}
		
		// Category utils
		.sectionUtils {
			float: right;
			margin-right: 7px;
			height: 38px;
			
			.feedControls {
				height: 100%;
				.clearfix;
				
				a {
					width: 22px;
					height: 22px;
					margin-top: 9px;
					display: block;
					float: left;
					cursor: pointer;
					.transition(background 300ms ease-in 200ms);
					
					&.addFeed {
						background: url(../images/plus_sign.png) no-repeat 0 0;
					}

					&.removeFeed {
						background: url(../images/minus_sign.png) no-repeat 0 0;
					}
				}
			} // End feedControls
		} // End sectionUtils
		
		// When we are sorting, do not show the buttons
		&.sorting .sectionUtils .feedControls a.addFeed, 
		&.sorting .sectionUtils .feedControls a.removeFeed {
			background: rgba(255,255,255,0);
		}
	}
	
	ul.sectionContent {
		padding-left: @contentLeftPadding;
		margin-top: 5px;
		margin-bottom: 10px;
		
		li.feed {
			font-weight: normal;
			padding-top: 5px;
			padding-bottom: 4px;
			border-bottom: 1px solid #C6C6C6;
			
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
			
			h5 {
				width: 95%;
				font-size: 13px;
				line-height: 20px;
				
				a { font-weight: normal; }
				
				small { }
			}
			&.new h5 a { font-weight: bold; }
		}
	}
}